# Practica Obtencion de Datos

In [1]:
#importamos las librerias
import pandas as pd
from rdflib import Graph, Literal, RDF, URIRef, Namespace #basic RDF handling
from rdflib.namespace import FOAF , XSD #most common namespaces
import urllib.parse #for parsing strings to URI'

In [2]:
#importamos como dataframes los csvs
stops_m4=pd.read_csv('stops_m4.txt')
stops_m10=pd.read_csv('stops_m10.txt')

In [4]:
stops_m4.head(5)

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,par_4_1,1,PLAZA DE CASTILLA,Paseo de la Castellana 189,40.46690,-3.68917,A,http://www.crtm.es,0,est_90_21,NaN,0
1,acc_4_1_1,1,Plaza de Castilla,Paseo de la Castellana 189,40.46682,-3.68918,NaN,http://www.crtm.es,2,est_90_21,NaN,0
2,acc_4_1_1040,1,Ascensor,Plaza de Castilla 9,40.46555,-3.68877,NaN,http://www.crtm.es,2,est_90_21,NaN,0
3,acc_4_1_1043,1,Intercambiador Superficie,Paseo de la Castellana 191 B,40.46728,-3.68915,NaN,http://www.crtm.es,2,est_90_21,NaN,0
4,acc_4_1_1044,1,Ascensor,Paseo de la Castellana 189,40.46702,-3.68918,NaN,http://www.crtm.es,2,est_90_21,NaN,0

In [5]:
stops_m10.head(5)

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,par_10_1,1,PINAR DE CHAMARTIN,Calle de Arturo Soria 330,40.48014,-3.66684,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
1,acc_10_1_721,1,Arturo Soria,Calle de Arturo Soria 330,40.48023,-3.66684,NaN,http://www.crtm.es,2,est_10_1,NaN,0
2,acc_10_1_722,1,Ascensor,Calle de Arturo Soria 330,40.48015,-3.66694,NaN,http://www.crtm.es,2,est_10_1,NaN,0
3,par_10_2,2,FUENTE DE LA MORA,Calle de Dulce Chac√≥n 15,40.48482,-3.66325,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
4,acc_10_2_723,2,Avda. Fuente de la Mora,Cmno de la Fuente de la Mora 6,40.48561,-3.66318,NaN,http://www.crtm.es,2,est_10_2,NaN,0

In [14]:
#Incluimos las variables identificativas de cada dataset y las juntamos
stops_m4["transportmean_name"]="METRO"
stops_m10["transportmean_name"]="ML"

In [18]:
stops = pd.concat([stops_m4, stops_m10])

print(stops_m4.shape)
print(stops_m10.shape)
print(stops.shape)

(1272, 13)
(96, 13)
(1368, 13)